<div
  class="
    fixed
    right-8
    mt-4
    bg-gradient-to-tr
    from-pink-600
    to-blue-600
    rounded-full
    shadow-md
    z-10
  "
>
  <a href="/stories/add">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="fill-current text-white h-12 w-12"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      />
    </svg>
  </a>
</div>
