<nav class="bg-gray-800 py-3 sticky top-0 z-50 select-none">
  <div class="flex items-center justify-between text-white whitespace-nowrap">
    <a
      href="#!"
      class="px-5 font-semibold text-2xl tracking-wide hover:text-gray-300"
      >StoryBooks</a
    >
    <div class="sm:hidden relative cursor-pointer pr-5" id="humbeger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="36px"
        viewBox="0 0 24 24"
        width="36px"
        fill="#ffffff"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
      </svg>
    </div>
    <div class="space-x-4 lg:mr-52 hidden sm:flex px-5">
      <a
        href="/stories"
        class="tracking-wide font-semibold px-3 py-2 hover:text-gray-300"
      >
        <p>Public Stories</p> </a
      ><a
        href="/dashBoard"
        class="tracking-wide font-semibold px-3 py-2 hover:text-gray-300"
      >
        <p>DashBoard</p>
      </a>

      <a
        href="/auth/logout"
        class="
          transition
          tracking-wide
          font-semibold
          px-4
          rounded
          hover:bg-red-600
          py-2
          border border-red-600
        "
      >
        <p>Logout</p>
      </a>
    </div>
  </div>
  <div class="bg-gray-800 sm:hidden items-center hidden" id="nav-toogle">
    <div class="flex flex-col items-center text-white transition">
      <a
        href="/stories"
        class="tracking-wide font-semibold px-3 py-2 hover:text-gray-300"
      >
        <p>Public Stories</p> </a
      ><a
        href="/dashBoard"
        class="tracking-wide font-semibold px-3 py-2 hover:text-gray-300"
      >
        <p>DashBoard</p>
      </a>

      <a
        href="/auth/logout"
        class="
          transition
          tracking-wide
          font-semibold
          px-4
          rounded
          hover:bg-red-600
          py-2
          border border-red-600
        "
      >
        <p>Logout</p>
      </a>
    </div>
  </div>
</nav>
